.recommended {
  flex-basis: 30%;
}
.side-video-list {
  display: flex;
  margin-bottom: 8px;
  justify-content: space-between;
}
.side-video-list img {
  width: 50%;
  flex-basis: 49%;
}
.vid-info {
  flex-basis: 49%;
}
.vid-info h4 {
  font-size: 14px;
  margin-bottom: 5px;
}
@media (max-width: 900px) {
.recommended{
  flex-basis: 100%;
}
}
